<div class="pager">
  <div class="task-history">
    <h3>Task History</h3>
    <div ng-repeat="task in home.tasks">
      <p>{{task.name}}</p>
    </div>
    <input ng-model="home.newTask.name">
    <button class="btn btn-success" ng-click="home.addTask(home.newTask.name)">Add Task</button>
  </div>

  <div class="timer">
    <h3>Timer</h3>
    <div>
      <h1>{{ home.workTime | timecode }}</h1>
      <button class="btn btn-primary" ng-click="home.workButtonContol()">{{ home.workButtonText }}</button>
    </div>

    <div ng-show="home.onBreak">
      <h1>{{ home.breakTime | timecode }}</h1>
      <button class="btn btn-info" ng-click="home.breakButtonContol()">{{ home.breakButtonText }}</button>
    </div>
    <h3>Work Sessions Completed: {{ home.workSessions }}</h3>
    </div>
</div>
